@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #F6E96B;
    --cor-secundaria: #BEDC74;
    --cor-terciaria: #A2CA71;
    --cor-quaternaria: #387F39;
    --primary: 237, 94%, 81%;
    --background: 266, 16%, 92%;
    --background-secondary: 256, 12%, 12%;
    --background-secondary-dark: #33372C;
    --background-secondary-light: #557C56;
    --text-primary: 0, 0%, 0%;
    /* Colors */
    --black: 0, 0%, 0%;
    --white: 0, 0%, 100%;
    --quite-gray: 0, 0%, 50%;
    --grooble: 10, 28%, 93%;
    /* Sizes */
    --heading-large: 5.6rem;
    --heading-medium: 3.6rem;
    --heading-small: 2.4rem;
    --paragraph: 1.11rem;
    --navbar-buttons: 2.4rem;
    /* misc */
    --transition-main: .175, .685, .32;
    /* Fonts */
    --font-main: "Poppins";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    width: 100%;
    color: hsl(var(--text-primary));
    font-family: var(--font-main);
    background-color: hsl(var(--background));
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

h1 {
    font-size: var(--heading-large);
}

h2 {
    font-size: var(--heading-medium);
}

h3 {
    font-size: var(--heading-small);
}

h4 {
    font-size: calc(var(--heading-small) - .2rem);
}

h5 {
    font-size: calc(var(--heading-small) - .4rem);
}

h6 {
    font-size: calc(var(--heading-small) - .6rem);
}

/* Font Weight */
h1,
h2 {
    font-weight: 900;
}

h3,
h4,
h5,
h6 {
    font-weight: 800;
}

/* Paragraphs */
p {
    margin: 0;
    font-size: var(--paragraph);
}

/* =========
    Buttons
   ========= */

button {
    padding: .8em 1.2em;
    border: 1px solid hsl(var(--black));
    background-color: hsl(var(--background));
    font-size: var(--paragraph);
    cursor: pointer;
    outline: none;
}

button:focus {
    box-shadow:
        0 0 0 2px hsl(var(--black)),
        0 0 0 3px hsl(var(--white));
    border: 1px solid transparent;
}

/* =======
    Lists
   ======= */

ul,
ol {
    margin: 1em 0;
}

/* =======
    Forms
   ======= */

form {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: .5em 0;
    border: none;
}

input {
    padding: .8em 1.2em;
    font-size: var(--paragraph);
    background-color: hsl(var(--grooble));
    border: 2px solid hsl(var(--grooble));
    outline: none;
}

textarea {
    padding: .8em 1.2em;
    font-size: var(--paragraph);
    font-family: var(--font-main);
    background-color: hsl(var(--grooble));
    border: 2px solid hsl(var(--grooble));
    outline: none;
}

input,
textarea {
    transition: all .2s ease-in-out;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    box-shadow:
        0 0 0 2px hsl(var(--black)),
        0 0 0 3px hsl(var(--white));
    border: 2px solid transparent;
}

select {
    padding: .8em 1.2em;
    border: 1px solid hsl(var(--black));
    font-size: var(--paragraph);
    outline: none;
}

/* =========
    Classes
   ========= */

/* ================
    Global classes
   ================ */

/* =========
    Flexbox
   ========= */

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Columns */
.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.flexbox-col-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.flexbox-col-left-ns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.flexbox-col-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.flexbox-col-start-center {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

/* Spacings */
.flexbox-space-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* =========
    Classes
   ========= */

.view-width {
    width: 70%;
}

/* ========
    Navbar
   ======== */

#navbar {
    top: 0;
    padding: 0;
    width: 5em;
    height: 100vh;
    position: fixed;
    background-color: var(--background-secondary-light);
    transition: width .35s cubic-bezier(var(--transition-main), 1);
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar:hover {
    width: 16em;
}

#navbar::-webkit-scrollbar-track {
    background-color: var(--background-secondary-light);
}

#navbar::-webkit-scrollbar {
    width: 8px;
    background-color: var(--background-secondary-light);
}

#navbar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
}

.navbar-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Navbar Logo */
.navbar-logo {
    margin: 0 0 2em 0;
    width: 100%;
    height: 5em;
    background: var(--background-secondary-dark);
}

.navbar-logo>.navbar-item-inner {
    width: calc(5rem - 8px);
}

.navbar-logo>.navbar-item-inner:hover {
    background-color: transparent;
}

.navbar-logo>.navbar-item-inner>svg {
    height: 2em;
    fill: hsl(var(--white));
}

/* Navbar Items */
.navbar-item {
    padding: 0 .5em;
    width: 100%;
    cursor: pointer;
}

.navbar-item-inner {
    padding: 1em 0;
    width: 100%;
    position: relative;
    color: hsl(var(--quite-gray));
    border-radius: .25em;
    text-decoration: none;
    transition: all .2s cubic-bezier(var(--transition-main), 1);
}

.navbar-item-inner:hover {
    color: hsl(var(--white));
    background: hsl(var(--background-secondary-light));
    box-shadow: 0 17px 30px -10px hsla(var(--black), .25);
}

.navbar-item-inner-icon-wrapper {
    width: calc(5rem - 1em - 8px);
    position: relative;
}

.navbar-item-inner-icon-wrapper ion-icon {
    position: absolute;
    font-size: calc(var(--navbar-buttons) - 1rem);
}

.link-text {
    margin: 0;
    width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .35s cubic-bezier(var(--transition-main), 1);
    overflow: hidden;
    opacity: 0;
    color: var(--cor-primaria);
}

#navbar:hover .link-text {
    width: calc(100% - calc(5rem - 8px));
    opacity: 1;
}

/* ======
    Main
   ====== */

#main {
    margin: 0 0 0 5em;
    min-height: 150vh;
}

#main>h2 {
    width: 80%;
    max-width: 80%;
}

#main>p {
    width: 80%;
    max-width: 80%;
}

/* =============
    ::Selectors
   ============= */

/* Selection */
::selection {
    color: hsl(var(--white));
    background: hsla(var(--primary), .33);
}

/* Scrollbar */
::-webkit-scrollbar-track {
    background-color: hsl(var(--background));
}

::-webkit-scrollbar {
    width: 8px;
    background-color: hsl(var(--background));
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
}

/* ===============
    5. @keyframes
   =============== */

/* ==============
    @media rules
   ============== */

@media only screen and (max-width: 1660px) {
    :root {
        /* Sizes */
        --heading-large: 5.4rem;
        --heading-medium: 3.4rem;
        --heading-small: 2.2rem;
    }
}

@media only screen and (max-width: 1456px) {
    :root {
        /* Sizes */
        --heading-large: 5.2rem;
        --heading-medium: 3.2rem;
        --heading-small: 2rem;
    }

    .view-width {
        width: 80%;
    }
}

@media only screen and (max-width: 1220px) {
    .view-width {
        width: 70%;
    }
}

@media only screen and (max-width: 1024px) {
    :root {
        /* Sizes */
        --heading-large: 5rem;
        --heading-medium: 3rem;
        --heading-small: 1.8rem;
    }

    .view-width {
        width: 75%;
    }
}

@media only screen and (max-width: 756px) {
    :root {
        /* Sizes */
        --heading-large: 4rem;
        --heading-medium: 2.6rem;
        --heading-small: 1.6rem;
        --paragraph: 1rem;
        --navbar-buttons: 2.2rem;
    }

    .view-width {
        width: calc(100% - 5em);
    }
}

@media only screen and (max-width: 576px) {
    .view-width {
        width: calc(100% - 3em);
    }
}

@media only screen and (max-width: 496px) {}

/* header nav {
    padding: 1rem 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Manrope', sans-serif;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 0 0 10rem;
}

header nav ul li {
    list-style: none;
    margin-left: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--cor-quaternaria);
    border-radius: 2rem;
    transition: .3s;
    padding: 0.5rem 1rem;
}

header nav ul li a:hover,
header nav ul li a.active {
    background: var(--cor-quaternaria);
    color: var(--cor-primaria);
} */

section {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 2rem;
    width: 100%;
    height: 15rem;
}

.sec-imagem {
    height: 40rem;
    box-shadow: inset 6px 6px 13px 0.5px rgba(0, 0, 0, 1);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sec-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Manrope', sans-serif;
    background-color: var(--background-secondary-dark);
}

.sec-texto__texto {
    align-self: center;
    text-align: center;
    padding: 1rem;
    background-color: var(--cor-primaria);
    cursor: pointer;
}

/* CSS */
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: var(--cor-quaternaria);
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 52px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.sec-texto-objetivo {
    height: 25rem;
}

.list h2 {
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.list ul li {
    position: relative;
    left: 0;
    color: #fce4ec;
    list-style: none;
    margin: 4px 0;
    border-left: 2px solid var(--background-secondary-light);
    transition: 0.5s;
    cursor: pointer;
}

.list ul li:hover {
    left: 10px;
}

.list ul li span {
    position: relative;
    padding: 8px;
    padding-left: 12px;
    display: inline-block;
    z-index: 1;
    transition: 0.5s;
}

.list ul li:hover span {
    color: #111;
}

.list ul li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background-secondary-light);
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
}

.list ul li:hover:before {
    transform: scaleX(1);
}

.sec-texto__titulo {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    animation: gradient 5s ease infinite;
}

#objetivo {
    background-image: url(/assets/aventura-historica.jpg);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.revealing__container {
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.75rem;
    padding: 1rem;
    width: 60%;
    background-color: var(--background-secondary-dark);
    border-radius: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.revealing__slide_container {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.revealing__primeiro_slide {
    animation: showup 7s 1, gradient 5s ease infinite;
}

@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.revealing__segundo_slide {
    animation: reveal 7s 1 forwards, gradient 5s ease infinite;
    text-align: justify;
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 0px;
    }

    30% {
        width: 500px;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        width: 500px;
    }
}

.revealing__segundo_slide span {
    animation: slidein 7s 1 forwards, gradient 5s ease infinite;
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }

    20% {
        margin-left: -800px;
    }

    35% {
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.texto__gradiente {
    background: linear-gradient(-45deg, #F6E96B, #BEDC74, #A2CA71, #387F39);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    background-clip: text;
    color: transparent;
}

.texto__gradiente-nav {
    animation: gradient 5s ease infinite;
}

.texto__gradiente-texto {
    animation: gradient 5s ease infinite;
}

#politica {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/assets/centro-historico-recife.jpg);
}

.hidden {
    opacity: 0;
}

.console-container {
    font-family: 'Montserrat';
    font-size: 1em;
    text-align: center;
    height: 200px;
    width: 600px;
    display: block;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    align-self: flex-end;
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}

#economia {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/assets/olinda.jpg);
}

#figuras {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/assets/rua-bom-jesus.jpg);
}

#relacionamento {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/assets/cidade-do-porto.jpg);
}

#historia {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    background-image: url(/assets/centro-lisboa.jpg);
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    border: 2px solid var(--background-secondary-dark);
    border-radius: 10px;
    background-color: var(--background-secondary-light);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#chat {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
}

.user-message {
    align-self: flex-end;
    background-color: var(--cor-terciaria);
}

.ai-message {
    align-self: flex-start;
    background-color: var(--background-secondary-dark);
    color: #FFFFFF;
}

.input-container {
    display: flex;
    height: 70px;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: var(--background-secondary-dark);
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    height: 52px;
    font-family: 'Space Grotesk', sans-serif;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-30:hover {
    color: var(--cor-secundaria);
}